.hidden {
    display: none;
    visibility: hidden;
}

.background-grey {
    background-color: $background-grey;
}

.section-grey {
    background-color: $background-grey;
}

.frontpage-header {
    height: 90vh;
    background-image: url("../../images/hero.png");
    background-position: center;
    background-size: cover;
}

.frontpage-content {
    padding-bottom: 48px;
}

.frontpage-footer {
    padding-top: 48px;
    padding-bottom: 24px;
}

.case-header__container {
    background-color: $color-main-dark;
}

.case-header__text {

    color: white;

    hr {
        border: none;
        border-top: 5px solid $color-sec-base;
        width: 64px;
        margin-left: 0;
    }

    p {
        width: 100%;
    }



    @include media-breakpoint-up(md) {
        padding-left: 48px;

        p {
            width: 80%;
        }
    }
}

.case-subsection__header {
    margin-bottom: 24px;
}

.project-info{
    margin-top: 48px;
    margin-bottom: 24px;
}

.project-info__item {
    @include media-breakpoint-down(md) {
        padding-top: 16px;
    }

}

.case-body {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    td {
        ul {
            padding-left: 8px;
        }
    }
}

.case-list {
    list-style-type: none;
    padding-left: 0;

    hr {
        border: none;
        border-top: 4px solid $color-sec-base;
        width: 24px;
        margin: 1rem 0rem 0.5rem 0rem;
    }

    h4 {
        margin-bottom: 0;
    }

    li {
        margin-bottom: 1rem;
    }
}

.case-shortlist {
    li {
        padding-bottom: 16px;
    }
}

.case-collist {
    list-style-type: none;
    padding-left: 0;

    .case-collist__heading {
        display: block;
        padding-bottom: 8px;
    }

    li {
        padding-bottom: 24px;
    }
}

.case-facts {

    img {
        max-width: 60%;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    p {
        width: 90%;
    }
}

.gd-container {
    margin-top: 120px;
}

.about {
    margin-top: 96px;

    h1 {
        text-transform: uppercase;
        text-align: center;
    }
}